{% if page.linkedin_posts.posts and page.linkedin_posts.enabled -%}
  <h2><a href="#" style="color: inherit;">Latest LinkedIn Posts</a></h2>
  {%- for post in page.linkedin_posts.posts -%}
    <div class="row" style="margin-bottom: 1rem; padding: 1rem; border-left: 3px solid #0077b5; background-color: #f8f9fa;">
      <div class="col">
        <div style="font-size: 0.9rem; color: #666; margin-bottom: 0.5rem;">
          <i class="fa-brands fa-linkedin" style="color: #0077b5;"></i>
          {{ post.date }}
        </div>
        <p style="margin-bottom: 0.5rem;">{{ post.content }}</p>
        <a href="{{ post.url }}" target="_blank" style="color: #0077b5; text-decoration: none;">
          Read more on LinkedIn <i class="fa fa-external-link" style="font-size: 0.8rem;"></i>
        </a>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}