{% if page.linkedin_posts.posts and page.linkedin_posts.enabled -%}
  <h2><a href="#" style="color: inherit;">Latest LinkedIn Posts</a></h2>
  {%- for post in page.linkedin_posts.posts -%}
    <div class="row linkedin-post">
      <div class="col">
        <div class="linkedin-post-meta">
          <i class="fa-brands fa-linkedin linkedin-icon"></i>
          {{ post.date }}
        </div>
        <p class="linkedin-post-content">{{ post.content }}</p>
        <a href="{{ post.url }}" target="_blank" class="linkedin-post-link">
          Read more on LinkedIn <i class="fa fa-external-link linkedin-external-icon"></i>
        </a>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}